header {
  background-image: url(/resources/background.jpg);
  background-size: cover;
  background-size: 500px 800px;
  position: fixed;
  border: 1px solid white;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: white;
}
header nav {
  margin-bottom: 40px;
}
header nav a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
section {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 200px;
  line-height: 1.5;
}
section h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.section2 {
  justify-content: center;
}
