body {
  height: 100vh;
}

header {
  display: flex;
  height: 50px;
  border-bottom: 1px solid;
}
.header-item {
  flex: 1;
  background-color: pink;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid;
}
nav {
  height: 30px;
  line-height: 30px;
  background-color: antiquewhite;
  border-bottom: 1px solid black;
}
main {
  display: flex;
  height: 100%;
}
main div {
  flex: 1;
}
.main-left {
  background-image: url(/resources/product.jpg);
  background-position: center;
  background-size: cover;
}
.main-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-right h2 {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.main-right p {
  line-height: 1.5;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
