* {
  margin: 0px;
  padding: 0px;
}
header {
  background-image: url(./spurred-turtle-8994997_640.jpg);
  background-repeat: no-repeat;
  margin: auto;
  width: 1000px;
  height: 400px;
}
.copy {
  position: relative;
  width: 100%;
}
img {
  width: 1000px;
  height: 500px;
}
